In [2]:
print('Hello world')

Hello world

In [11]:
import pandas as pd
import os

In [13]:
l = os.getcwd().split("\\")
file_name = "quotazioni_fantacalcio_2025_settembre.xlsx"
path = "\\".join(l[:len(l)-1]) + "\\data\\" + file_name

data = pd.read_excel(path)

In [17]:
data

             Nome     Squadra Ruolo  Quotazione Trequartista
0        Orsolini     Bologna     C          32           SI
1            Kean  Fiorentina     A          31           NO
2      Martinez L       Inter     A          31           NO
3          Thuram       Inter     A          30           NO
4         Pulisic       Milan     C          30           SI
..            ...         ...   ...         ...          ...
602       Cavlina        Como     P           1           NO
603      Yildiz V      Verona     C           1           NO
604  Rodriguez Ju    Cagliari     D           1           NO
605         Gueye     Udinese     A           1           NO
606       Perez A      Torino     D           1           NO

[607 rows x 5 columns]

In [9]:
data.iloc[0]

Nome            Orsolini
Squadra          Bologna
Ruolo                  C
Quotazione            32
Trequartista          SI
Name: 0, dtype: object

In [22]:
for i, j in enumerate([10, 20, 30]):
    print(i, j)

0 10
1 20
2 30